* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: hsl(206, 94%, 87%) ;
    position: relative;
}

.hero {
    width: 60%;
    height: 75%;
    background:  hsl(0, 0%, 100%) ;
    position: absolute;
    top: 5rem;
    left: 15rem;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    gap: 3rem;
    
}

aside:nth-child(1){
        width: 30%;
        margin: 1rem;
        background-image: url(../assets/images/bg-sidebar-desktop.svg);
        background-size: contain;
        background-repeat: no-repeat;
        padding-left: 1.5rem;
        padding-top: 2rem;
}

aside:nth-child(1) .info {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-transform: uppercase;
}

aside:nth-child(1) .info .one {
    width: 20%;
    height: 20%;
    text-align: center;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    padding: 8px;
   
}

.step1 h4 {
    font-size: 11px;
    color: hsl(229, 24%, 87%);
}

.step1 h3 {
    font-size: 13px;
    color: hsl(0, 0%, 100%);
}

aside:nth-child(1) .plan {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
    text-transform: uppercase;
}

aside:nth-child(1) .plan .two {
    width: 20%;
    height: 20%;
    text-align: center;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    padding: 8px;
    
}

.step2 h4 {
    font-size: 11px;
    color: hsl(229, 24%, 87%);
}

.step2 h3 {
    font-size: 13px;
    color: hsl(0, 0%, 100%);
}


aside:nth-child(1) .add {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
    text-transform: uppercase;
}
aside:nth-child(1) .add .three {
    width: 20%;
    height: 20%;
    text-align: center;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    padding: 8px;
}

.step3 h4 {
    font-size: 11px;
    color: hsl(229, 24%, 87%);
    
}

.step3 h3 {
    font-size: 13px;
    color: hsl(0, 0%, 100%);
}

aside:nth-child(1) .summary {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
    text-transform: uppercase;
}
aside:nth-child(1) .summary .four {
    width: 20%;
    height: 20%;
    text-align: center;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    padding: 8px;
    background-color: hsl(228, 100%, 84%);
}

.step4 h4 {
    font-size: 11px;
    color: hsl(229, 24%, 87%);
}

.step4 h3 {
    font-size: 13px;
    color: hsl(0, 0%, 100%);
}

aside:nth-child(2) {
       width: 70%;
       padding-right: 6rem;
       padding-top: 3rem;   
}

aside:nth-child(2) h1 {
    color: hsl(213, 96%, 18%);
}

aside:nth-child(2) p {
    color: hsl(0, 0%, 60%);
    margin-top: 0.5rem;
}

aside:nth-child(2) .finish {
    width: 100%;
    height: 35%;
    background-color: hsl(225, 20%, 96%);
    padding: 1rem;
    margin-top: 2rem;
}

.finish .arcade {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arcade h3 {
    font-size: 15px;
    color: hsl(213, 96%, 18%);
}

.arcade h4 {
    font-size: 14px;
    color: hsl(213, 96%, 18%);
}

hr {
   margin-top: 1rem;
}

.online {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: space-between;
}

.online h3 {
       font-size: 15px;
       color: hsl(231, 11%, 63%);
}

.online h4 {
    font-size: 14px;
    color: hsl(213, 96%, 18%);
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.total h3 {
     font-size: 15px;
     color: hsl(231, 11%, 63%);
}

.total h2 {
    color: blue;
}

.btn {
    gap: 5rem;
    margin-top: 5rem;
}

#go {
    border: none;
    color: hsl(229, 24%, 87%);
    font-weight: 550;
    background-color: transparent;
}

#next {
    padding: 10px 10px;
    border: none;
    color: hsl(231, 100%, 99%);
    background-color:  hsl(243, 87%, 67%);
    border-radius: 5px;
    margin-left: 15rem;
    cursor: pointer;
}